version: "3"
services:
  proxy:
    restart: on-failure
    image: nginx
    volumes:
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/static
    ports:
      - 80:80
    depends_on:
      - client-frontend
      - server-site
      - server-frontend
      - server-backend
  client-frontend:
    build: ./client-frontend
    restart: always
    environment:
      - API_URL=${APPLICATION_API_URL}
    volumes:
      - static_volume:/static
    depends_on:
      - server-backend
  server-site:
    build: ./server-site
    restart: always
    environment:
      - API_URL=${APPLICATION_API_URL}
      - SITE_URL_DOMAIN=${LP_SITE_URL_DOMAIN}
      - SITE_URL_PROTOCOL=${LP_SITE_URL_PROTOCOL}
    volumes:
      - static_volume:/static
    depends_on:
      - server-backend
  server-frontend:
    build: ./server-frontend
    restart: always
    environment:
      - API_URL=${APPLICATION_API_URL}
    volumes:
      - static_volume:/static
    depends_on:
      - server-backend
  server-backend:
    build: ./server-backend
    restart: always
    environment:
      - APPLICATION_DATABASE_PASSWORD=${APPLICATION_DATABASE_PASSWORD}
      - APPLICATION_DATABASE_HOST=db
      - APPLICATION_ALLOWED_HOSTS=${APPLICATION_ALLOWED_HOSTS}
      - APPLICATION_SECRET_KEY=${APPLICATION_SECRET_KEY}
      - APPLICATION_CORS_ALLOWED_ORIGINS=${APPLICATION_CORS_ALLOWED_ORIGINS}
    volumes:
      - static_volume:/static
    depends_on:
      - db
  db:
    image: postgres
    volumes:
      - db-volume:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${APPLICATION_DATABASE_PASSWORD}
    restart: unless-stopped

volumes:
  static_volume:
  db-volume:
